.contacts {
    padding-inline-start: 0px;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: rgb(0, 0, 0);
    padding-top: 50px;
}

.title_tag {
    font-size: 24px;
    margin: 0px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.table_row {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

.table_cell {
    display: flex;
    justify-content: center;
    padding: 0;
    font-size: 16px;
    border: 2.5px dashed #273426;
    padding: 10px 13px 10px 13px;
    border-radius: 15%;
    flex-wrap: wrap;
}

.contacts-list {
    padding-inline-start: 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}