.forma {
    display: flex;
    flex-direction: column;
    padding: 20px 50px 20px 50px;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 40;
    color: #010101;
}

.name_input,
.number_input,
.filter_input {
    height: 40px;
    border: 1px;
    width: 240px;
    font-size: 26px;
    border-radius: 12px;
    text-indent: 12px;
}

.title_tag {
    font-size: 24px;
    margin: 0px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.name_input:focus,
.number_input:focus,
.filter_input:focus {
    outline: none !important;
    border: 1px rgb(186, 38, 38);
    box-shadow: 0 0 10px #719ece;
}

.filter_input {
    display: flex;
    margin: 0px;
}

.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 40px;
}

p {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.submit_button {
    margin: 40px 0px 30px;
    border-radius: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 0.2px;
    padding: 10px 10px 10px 10px;
    width: 200px;
    display: flex;
    align-items: center;
}

p {
    font-size: 20px;
    margin: 0px;
    margin-bottom: 20px;
    padding-top: 20px;
}

.contact_item {
    margin-top: 0px;
    font-size: 23px;
    display: flex;
    align-items: center;
    height: auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item_name::after {
    content: ':';
}

.contacts {
    padding-inline-start: 0px;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: rgb(0, 0, 0);
    padding-top: 50px;
}

.delete_button {
    height: 30px;
    width: 100px;
    border-radius: 12px;
    border: 0.2px;
}

.input_tag {
    padding-top: 30px;
}

.contacts-list {
    padding-inline-start: 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.appNav {
    border-bottom: 1px black solid;
}

.nav_links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}

.home_link {
    text-align: start;
    flex-basis: 600px;
}

.home_page {
    justify-content: center;
    text-align: center;
}

.regForm {
    display: flex;
    gap: 30px;
    flex-direction: column;
    margin-bottom: 16px;
    justify-content: center;
    align-items: center;
}

.regForm button {
    width: 120px;
}

.regForm label {
    display: flex;
    flex-direction: column;
}

.regForm input {
    width: 180px;
    height: 20px;
}

.menu_button {
    width: 140px;
    height: 35px;
}

.menu_links {
    color: white;
    text-decoration: none;
}

.form_box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.Phonebook {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vw;
    justify-content: space-around;
}

.Menu_open {
    width: 320px;
    position: absolute;
    color: whitesmoke;
    background: #2d2f31;
    animation: slide 0.5s;
    transition: 250ms ease-in-out;
    z-index: 1;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 50px;
    opacity: 89%;
    border-bottom-right-radius: 20%;
}

.Menu_close {
    width: 360px;
    left: -360px;
    position: absolute;
}

@keyframes slide {
    from {
        left: -360px;
    }
    to {
        left: 0px;
    }
}

.Icon {
    padding-top: 50px;
}

.phonebook_icon {
    margin-right: 10px;
}

.input_icon {
    margin-left: 10px;
}

.item_name,
.item_number,
.delete_button {
    width: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}

.table_row {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

.table_cell {
    display: flex;
    justify-content: center;
    padding: 0;
    font-size: 16px;
    border: 2.5px dashed #273426;
    padding: 10px 13px 10px 13px;
    border-radius: 15%;
    flex-wrap: wrap;
}

.input_tag {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.menu_item {
    display: flex;
    text-align: center;
    gap: 20px;
}

.search_tag {
    display: flex;
    text-align: center;
}