.forma {
    display: flex;
    flex-direction: column;
    background-color: #6296c5;
    padding: 20px 50px 20px 50px;
    position: top;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40;
    color: #010101;
}

.name_input,
.number_input,
.filter_input {
    height: 50px;
    border: 1px;
    width: 340px;
    font-size: 26px;
    border-radius: 12px;
}

.title_tag {
    font-size: 24px;
    margin: 0px;
    width: 444px;
    background-color: rgba(213, 213, 34, 0.594);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.name_input:focus,
.number_input:focus,
.filter_input:focus {
    outline: none !important;
    border: 1px rgb(186, 38, 38);
    box-shadow: 0 0 10px #719ECE;
}

.filter_input {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.filter {
    background-color: rgba(213, 213, 34, 0.594);
    padding: 20px 50px 20px 50px;
}

p {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.submit_button {
    margin: 40px 0px 30px;
    border-radius: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 0.2px;
    padding: 10px 10px 10px 10px;
}

p {
    font-size: 20px;
    margin: 0px;
    margin-bottom: 20px;
    padding-top: 20px;
}

.contact_item {
    width: 444px;
    margin-top: 0px;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: auto;
}

.item_name::after {
    content: ':';
}

.contacts {
    display: flex;
    width: 444px;
    padding-inline-start: 0px;
    background-color: rgba(213, 213, 34, 0.594);
    height: auto;
}

.delete_button {
    height: 30px;
    width: 100px;
    border-radius: 12px;
    border: 0.2px;
}

.input_tag {
    padding-top: 30px;
}

.contacts-list {
    padding-inline-start: 0px;
}